In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
batters_all_years = pd.read_csv('data/batters_all_years.csv')
pd.set_option('display.max_columns', None) 
batters_all_years

c:\Users\Scott Libby\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (36,82,83) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,zone,des,game_type,stand,p_throws,home_team,away_team,type,hit_location,bb_type,balls,strikes,game_year,pfx_x,pfx_z,plate_x,plate_z,on_3b,on_2b,on_1b,outs_when_up,inning,inning_topbot,hc_x,hc_y,fielder_2,sv_id,vx0,vy0,vz0,ax,ay,az,sz_top,sz_bot,game_pk,pitcher.1,fielder_2.1,fielder_3,fielder_4,fielder_5,fielder_6,fielder_7,fielder_8,fielder_9,release_pos_y,woba_value,babip_value,iso_value,at_bat_number,pitch_number,pitch_name,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,delta_home_win_exp,delta_run_exp,hit_distance_sc,launch_speed,launch_angle,effective_speed,release_spin_rate,release_extension,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_denom,launch_speed_angle,if_fielding_alignment,of_fielding_alignment,spin_axis
0,cu,2008-09-28,78.4,1.63,6.04,"lillibridge, brent",452121,434643,force_out,hit_into_play,4.0,"brent lillibridge grounds into a force out, th...",r,r,l,hou,atl,x,5.0,ground_ball,2,2,2008,-0.52,-0.43,-0.57,2.14,NaN,NaN,425773.0,2,7,top,NaN,NaN,453525,080928_143831,-3.645350,-115.176218,0.728947,-3.636000,24.271000,-35.989000,3.36,1.55,236173,434643,453525,455986,209315,425489,446474,430631,456422,452254,54.50,0.0,0.0,0.0,47,5,curveball,3,1,1,3,1,3,1,3,0.033,-0.187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ff,2008-09-28,89.9,1.40,5.69,"lillibridge, brent",452121,434643,NaN,foul,6.0,"brent lillibridge grounds into a force out, th...",r,r,l,hou,atl,s,NaN,NaN,2,1,2008,0.56,1.37,0.41,2.46,NaN,NaN,425773.0,2,7,top,NaN,NaN,453525,080928_143801,-3.855937,-131.882648,-4.206573,7.207000,31.948000,-15.977000,3.36,1.55,236173,434643,453525,455986,209315,425489,446474,430631,456422,452254,54.50,NaN,NaN,NaN,47,4,4-seam fastball,3,1,1,3,1,3,1,3,0.000,-0.067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ff,2008-09-28,90.3,1.31,5.83,"lillibridge, brent",452121,434643,NaN,foul,6.0,"brent lillibridge grounds into a force out, th...",r,r,l,hou,atl,s,NaN,NaN,2,0,2008,0.66,1.47,0.58,2.19,NaN,NaN,425773.0,2,7,top,NaN,NaN,453525,080928_143736,-3.469819,-132.400919,-5.590640,8.288000,30.973000,-14.370000,3.36,1.55,236173,434643,453525,455986,209315,425489,446474,430631,456422,452254,54.50,NaN,NaN,NaN,47,3,4-seam fastball,3,1,1,3,1,3,1,3,0.000,-0.052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ff,2008-09-28,89.6,1.53,5.79,"lillibridge, brent",452121,434643,NaN,ball,14.0,"brent lillibridge grounds into a force out, th...",r,r,l,hou,atl,b,NaN,NaN,1,0,2008,0.69,1.43,1.37,2.01,NaN,NaN,425773.0,2,7,top,NaN,NaN,453525,080928_143719,-2.103489,-131.429143,-5.718335,8.131000,29.882000,-15.031000,3.36,1.55,236173,434643,453525,455986,209315,425489,446474,430631,456422,452254,54.50,NaN,NaN,NaN,47,2,4-seam fastball,3,1,1,3,1,3,1,3,0.000,0.042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cu,2008-09-28,78.0,1.56,5.99,"lillibridge, brent",452121,434643,NaN,ball,12.0,"brent lillibridge grounds into a force out, th...",r,r,l,hou,atl,b,NaN,NaN,0,0,2008,-0.76,-0.39,0.01,3.53,NaN,NaN,425773.0,2,7,top,NaN,NaN,453525,080928_143657,-1.701260,-114.582011,3.849176,-5.977000,24.746000,-36.261000,3.36,1.55,236173,434643,453525,455986,209315,425489,446474,430631,456422,452254,54.50,NaN,NaN,NaN,47,1,curveball,3,1,1,3,1,3,1,3,0.000,0.032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10245726,ff,2022-04-07,97.9,-2.47,4.96,"ruiz, keibert",660688,621242,NaN,foul,9.0,keibert ruiz flies out to center fielder travi...,r,l,r,wsh,nym,s,NaN,NaN,0,0,2022,-1.44,1.08,0.47,1.85,NaN,NaN,NaN,0,9,bot,NaN,NaN,543510,NaN,11.423136,-141.931385,-5.408718,-22.136537,34.452520,-16.474241,3.37,1.53,662571,621242,543510,642086,643446,500871,596019,592192,608671,516782,53.27,NaN,NaN,NaN,74,1,4-seam fastball,1,5,1,5,5,1,1,5,0.000,-0.034,7.0,106.1,-14.0,99.0,2398.0,7.2,NaN,NaN,NaN,NaN,standard,standard,236.0
10245727,ff,2022-04-07,95.7,-1.31,5.83,"hernández, césar",514917,543507,NaN,called_strike,5.0,cesar hernandez lines out sharply to right fie...,r,l,r,wsh,nym,s,NaN,NaN,0,0,2022,-0.76,1.40,0.21,2.48,NaN,NaN,NaN,0,6,bot,NaN,NaN,543510,NaN,5.805818,-139.142756,-6.390375,-11.245986,32.872765,-12.790382,3.22,1.49,662571,543507,543510,624413,429664,500871,596019,643446,592192,516782,53.58,NaN,NaN,NaN,47,1,4-seam fastball,0,4,0,4,4,0,0,4,0.000,-0.034,NaN,NaN,NaN,96.5,2221.0,6.9,NaN,NaN,NaN,NaN,strategic,standard,217.0
10245728,ff,2022-04-07,91.9,-1.09,5.80,"hernández, césar",514917,607625,NaN,ball,13.0,cesar hernandez flies out to left fielder mark...,r,l,r,wsh,nym,b,NaN,NaN,0,0,2022,-0.66,1.56,-0.09,0.91,NaN,NaN,NaN,0,8,bot,NaN,NaN,543510,NaN,3.919801,-133.441921,-9.797431,-8.688994,29.034121,-11.578303,3.29,1.50,662571,607625,543510,624413,643446,500871,596019,592192,608671,516782,54.72,NaN,NaN,NaN,65,1,4-seam fastball,1,5,1,5,5,1,1,5,0.000,0.033,NaN,NaN,NaN,90.8,2222.0,5.8,NaN,NaN,NaN,NaN,infield shift,strategic,211.0
10245729,si,2022-04-07,92.8,-2.57,5.56,"franco, maikel",596748,493603,NaN,called_strike,6.0,"maikel franco grounds out, shortstop francisco...",r,r,r,wsh,nym,s,NaN,NaN,0,0,2022,-1.71,0.42,0.80,2.44,NaN,NaN,NaN,0,7,bot,NaN,NaN,543510,NaN,12.432180,-134.529493,-3.083790,-23.404465,29.141706,-26.557707,3.26,1.56,662571,493603,543510,624413,429664,500871,596019,643446,592192,516782,53.68,NaN,NaN,NaN,57,1,sinker,1,5,1,5,5,1,1,5,0.000,-0.034,NaN,NaN,NaN,93.4,2196.0,6.8,NaN,NaN,NaN,NaN,infield shift,standard,225.0
10245730,ff,2022-04-07,95.9,-1.38,5.81,"hernández, césar",514917,656731,NaN,called_strike,6.0,cesar hernandez called out on strikes.,r,l,r,wsh,nym,s,NaN,NaN,0,0,2022,-1.11,1.35,0.30,2.04,NaN,NaN,NaN,0,1,bot,NaN,NaN,543510,NaN,7.078849,-139.330432,-7.556753,-16.004475,30.090269,-13.053022,3.16,1.50,662571,656731,543510,624413,429664,500871,596019,643446,592192,516782,53.12,NaN,NaN,NaN,5,1,4-seam fastball,0,0,0,0,0,0,0,0,0.000,-0.034,NaN,NaN,NaN,97.8,2243.0,7.4,NaN,NaN,NaN,NaN,strategic,strategic,221.0

In [3]:
batters_all_years.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'zone', 'des', 'game_type', 'stand', 'p_throws',
       'home_team', 'away_team', 'type', 'hit_location', 'bb_type', 'balls',
       'strikes', 'game_year', 'pfx_x', 'pfx_z', 'plate_x', 'plate_z', 'on_3b',
       'on_2b', 'on_1b', 'outs_when_up', 'inning', 'inning_topbot', 'hc_x',
       'hc_y', 'fielder_2', 'sv_id', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az',
       'sz_top', 'sz_bot', 'game_pk', 'pitcher.1', 'fielder_2.1', 'fielder_3',
       'fielder_4', 'fielder_5', 'fielder_6', 'fielder_7', 'fielder_8',
       'fielder_9', 'release_pos_y', 'woba_value', 'babip_value', 'iso_value',
       'at_bat_number', 'pitch_number', 'pitch_name', 'home_score',
       'away_score', 'bat_score', 'fld_score', 'post_away_score',
       'post_home_score', 'post_bat_score', 'post_fld_score',
       'delta_home_win_exp', 'delta_run_exp', 'hit_distance_sc',
       'launch_speed', 'launch_angle', 'effective_speed', 'release_spin_rate',
       'release_extension', 'estimated_ba_using_speedangle',
       'estimated_woba_using_speedangle', 'woba_denom', 'launch_speed_angle',
       'if_fielding_alignment', 'of_fielding_alignment', 'spin_axis'],
      dtype='object')

In [4]:
unique_values = batters_all_years['events'].unique()
unique_values

array(['force_out', nan, 'field_out', 'single', 'strikeout', 'walk',
       'grounded_into_double_play', 'home_run', 'double', 'triple',
       'sac_fly', 'intent_walk', 'fielders_choice', 'sac_bunt',
       'fielders_choice_out', 'hit_by_pitch', 'double_play',
       'field_error', 'strikeout_double_play', 'caught_stealing_2b',
       'other_out', 'pickoff_2b', 'caught_stealing_3b',
       'sac_fly_double_play', 'pickoff_1b', 'sac_bunt_double_play',
       'pickoff_caught_stealing_2b', 'caught_stealing_home',
       'pickoff_caught_stealing_3b', 'triple_play', 'stolen_base_3b',
       'wild_pitch', 'stolen_base_2b', 'pickoff_3b', 'runner_double_play',
       'catcher_interf', 'pickoff_caught_stealing_home', 'ejection',
       'passed_ball', 'other_advance', 'pickoff_error_2b',
       'stolen_base_home', 'game_advisory'], dtype=object)

In [5]:
df = batters_all_years[['pitch_type', 'game_year', 'release_speed', 'player_name', 'batter', 'events', 'description', 'stand', 'type', 'hit_location', 'bb_type', 'balls', 'strikes', 'outs_when_up', 'game_date']].copy()
# df.to_csv('batter_stats.csv', index=False)
df

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date
0,cu,2008,78.4,"lillibridge, brent",452121,force_out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28
1,ff,2008,89.9,"lillibridge, brent",452121,NaN,foul,r,s,NaN,NaN,2,1,2,2008-09-28
2,ff,2008,90.3,"lillibridge, brent",452121,NaN,foul,r,s,NaN,NaN,2,0,2,2008-09-28
3,ff,2008,89.6,"lillibridge, brent",452121,NaN,ball,r,b,NaN,NaN,1,0,2,2008-09-28
4,cu,2008,78.0,"lillibridge, brent",452121,NaN,ball,r,b,NaN,NaN,0,0,2,2008-09-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10245726,ff,2022,97.9,"ruiz, keibert",660688,NaN,foul,l,s,NaN,NaN,0,0,0,2022-04-07
10245727,ff,2022,95.7,"hernández, césar",514917,NaN,called_strike,l,s,NaN,NaN,0,0,0,2022-04-07
10245728,ff,2022,91.9,"hernández, césar",514917,NaN,ball,l,b,NaN,NaN,0,0,0,2022-04-07
10245729,si,2022,92.8,"franco, maikel",596748,NaN,called_strike,r,s,NaN,NaN,0,0,0,2022-04-07
10245730,ff,2022,95.9,"hernández, césar",514917,NaN,called_strike,l,s,NaN,NaN,0,0,0,2022-04-07

In [6]:
# column 'hit_location' depicts the position of the 1st player to touch the ball. it ranges from 1-9. a 0 for no hit nulls should be a good value for ML training
df['hit_location'].fillna(0, inplace=True)

In [7]:
df.dropna(subset=['release_speed', 'pitch_type'], inplace=True)
nulls = df.isnull().sum().sort_values(ascending=True)
nulls

pitch_type             0
game_year              0
release_speed          0
player_name            0
batter                 0
description            0
stand                  0
type                   0
hit_location           0
balls                  0
strikes                0
outs_when_up           0
game_date              0
events           7548812
bb_type          8334199
dtype: int64

In [8]:
People = pd.read_csv('data/core/People.csv')
People = People.applymap(lambda x: x.lower() if isinstance(x, str) else x)
People

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,usa,co,denver,NaN,NaN,NaN,NaN,NaN,NaN,david,aardsma,david allan,215.0,75.0,r,r,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,usa,al,mobile,2021.0,1.0,22.0,usa,ga,atlanta,hank,aaron,henry louis,180.0,72.0,r,r,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,usa,al,mobile,1984.0,8.0,16.0,usa,ga,atlanta,tommie,aaron,tommie lee,190.0,75.0,r,r,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,usa,ca,orange,NaN,NaN,NaN,NaN,NaN,NaN,don,aase,donald william,190.0,75.0,r,r,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,usa,fl,palm beach,NaN,NaN,NaN,NaN,NaN,NaN,andy,abad,fausto andres,184.0,73.0,l,l,2001-09-10,2006-04-13,abada001,abadan01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20816,zupofr01,1939.0,8.0,29.0,usa,ca,san francisco,2005.0,3.0,25.0,usa,ca,burlingame,frank,zupo,frank joseph,182.0,71.0,l,r,1957-07-01,1961-05-09,zupof101,zupofr01
20817,zuvelpa01,1958.0,10.0,31.0,usa,ca,san mateo,NaN,NaN,NaN,NaN,NaN,NaN,paul,zuvella,paul,173.0,72.0,r,r,1982-09-04,1991-05-02,zuvep001,zuvelpa01
20818,zuverge01,1924.0,8.0,20.0,usa,mi,holland,2014.0,9.0,8.0,usa,az,tempe,george,zuverink,george,195.0,76.0,r,r,1951-04-21,1959-06-15,zuveg101,zuverge01
20819,zwilldu01,1888.0,11.0,2.0,usa,mo,st. louis,1978.0,3.0,27.0,usa,ca,la crescenta,dutch,zwilling,edward harrison,160.0,66.0,l,l,1910-08-14,1916-07-12,zwild101,zwilldu01
20820,zychto01,1990.0,8.0,7.0,usa,il,monee,NaN,NaN,NaN,NaN,NaN,NaN,tony,zych,anthony aaron,190.0,75.0,r,r,2015-09-04,2017-08-19,zycht001,zychto01

In [9]:
Batting = pd.read_csv('data/core/Batting.csv')
Batting = Batting.applymap(lambda x: x.lower() if isinstance(x, str) else x)
Batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,tro,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,rc1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,cl1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,ws3,NaN,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,rc1,NaN,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112179,zimmebr01,2022,1,tor,al,77,76,11,8,4,0,2,3.0,2.0,1.0,5,33.0,0.0,5.0,1.0,0.0,0.0
112180,zimmebr01,2022,2,phi,nl,9,16,4,4,1,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
112181,zimmebr01,2022,3,tor,al,23,13,3,1,0,0,0,2.0,1.0,1.0,0,8.0,0.0,1.0,0.0,0.0,0.0
112182,zimmebr02,2022,1,bal,al,15,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
112183,zuninmi01,2022,1,tba,al,36,115,7,17,3,0,5,16.0,0.0,0.0,6,46.0,0.0,1.0,0.0,1.0,2.0

In [10]:
Pitching = pd.read_csv('data/core/Pitching.csv')
Pitching = Pitching.applymap(lambda x: x.lower() if isinstance(x, str) else x)
Pitching

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,ph1,NaN,1,2,3,3,2,0,0,78,43,23,0,11,1,NaN,7.96,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,ws3,NaN,12,15,30,30,30,0,0,792,361,132,4,37,13,NaN,4.50,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,ny2,NaN,0,0,1,0,0,0,0,3,8,3,0,0,0,NaN,27.00,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,rc1,NaN,4,16,24,24,22,1,0,639,295,103,3,31,15,NaN,4.35,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,ny2,NaN,0,1,1,1,1,0,0,27,20,10,0,3,0,NaN,10.00,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50397,zastrro01,2022,1,nyn,nl,0,0,1,0,0,0,0,3,1,1,0,0,1,0.250,9.00,0.0,0,0.0,0,4.0,0,1,0.0,0.0,0.0
50398,zastrro01,2022,2,laa,al,0,0,5,0,0,0,0,9,2,2,0,1,2,0.182,6.00,0.0,1,0.0,0,12.0,1,3,0.0,0.0,0.0
50399,zerpaan01,2022,1,kca,al,2,1,3,2,0,0,0,33,9,2,2,3,3,0.220,1.64,0.0,1,0.0,0,44.0,0,3,0.0,0.0,1.0
50400,zeuchtj01,2022,1,cin,nl,0,3,3,3,0,0,0,32,24,18,5,7,5,0.453,15.19,0.0,0,3.0,0,64.0,0,18,0.0,1.0,2.0
50401,zimmebr02,2022,1,bal,al,2,5,15,13,0,0,0,221,97,49,21,12,49,0.321,5.99,0.0,1,2.0,0,320.0,1,52,1.0,3.0,13.0

In [11]:
Fielding = pd.read_csv('data/core/Fielding.csv')
Fielding = Fielding.applymap(lambda x: x.lower() if isinstance(x, str) else x)
Fielding

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,tro,NaN,ss,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,rc1,NaN,2b,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,rc1,NaN,ss,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,cl1,NaN,2b,2,0.0,18.0,1,4,0.0,0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,cl1,NaN,of,29,29.0,729.0,51,3,7.0,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149360,zimmebr01,2022,1,tor,al,of,70,21.0,818.0,22,0,0.0,0,NaN,NaN,NaN,NaN,NaN
149361,zimmebr01,2022,2,phi,nl,of,9,5.0,144.0,14,0,1.0,0,NaN,NaN,NaN,NaN,NaN
149362,zimmebr01,2022,3,tor,al,of,20,2.0,147.0,20,0,1.0,0,NaN,NaN,NaN,NaN,NaN
149363,zimmebr02,2022,1,bal,al,p,15,13.0,221.0,1,5,0.0,0,NaN,NaN,NaN,NaN,NaN
149364,zuninmi01,2022,1,tba,al,c,35,34.0,898.0,283,9,1.0,0,2.0,NaN,4.0,15.0,NaN

In [12]:
Teams = pd.read_csv('data/core/Teams.csv')
Teams = Teams.applymap(lambda x: x.lower() if isinstance(x, str) else x)
Teams

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,DivWin,WCWin,LgWin,WSWin,R,AB,H,2B,3B,HR,BB,SO,SB,CS,HBP,SF,RA,ER,ERA,CG,SHO,SV,IPouts,HA,HRA,BBA,SOA,E,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,bs1,bna,NaN,3,31,NaN,20,10,NaN,NaN,n,NaN,401,1372,426,70,37,3,60,19.0,73.0,16.0,NaN,NaN,303,109,3.55,22,1,3,828,367,2,42,23,243,24,0.834,boston red stockings,south end grounds i,NaN,103,98,bos,bs1,bs1
1,1871,NaN,ch1,cna,NaN,2,28,NaN,19,9,NaN,NaN,n,NaN,302,1196,323,52,21,10,60,22.0,69.0,21.0,NaN,NaN,241,77,2.76,25,0,1,753,308,6,28,22,229,16,0.829,chicago white stockings,union base-ball grounds,NaN,104,102,chi,ch1,ch1
2,1871,NaN,cl1,cfc,NaN,8,29,NaN,10,19,NaN,NaN,n,NaN,249,1186,328,35,40,7,26,25.0,18.0,8.0,NaN,NaN,341,116,4.11,23,0,0,762,346,13,53,34,234,15,0.818,cleveland forest citys,national association grounds,NaN,96,100,cle,cl1,cl1
3,1871,NaN,fw1,kek,NaN,7,19,NaN,7,12,NaN,NaN,n,NaN,137,746,178,19,8,2,33,9.0,16.0,4.0,NaN,NaN,243,97,5.17,19,1,0,507,261,5,21,17,163,8,0.803,fort wayne kekiongas,hamilton field,NaN,101,107,kek,fw1,fw1
4,1871,NaN,ny2,nna,NaN,5,33,NaN,16,17,NaN,NaN,n,NaN,302,1404,403,43,21,1,33,15.0,46.0,15.0,NaN,NaN,313,121,3.72,32,1,0,879,373,7,42,22,235,14,0.840,new york mutuals,union grounds (brooklyn),NaN,90,88,nyu,ny2,ny2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3010,2022,nl,sln,stl,c,1,162,81.0,93,69,y,n,n,n,772,5496,1386,290,21,197,537,1226.0,95.0,25.0,80.0,45.0,637,605,3.79,3,17,37,4307,1335,146,489,1177,66,181,0.989,st. louis cardinals,busch stadium iii,3320551.0,94,94,stl,sln,sln
3011,2022,al,tba,tbd,e,1,162,81.0,86,76,n,y,n,n,666,5412,1294,296,17,139,500,1395.0,95.0,37.0,57.0,31.0,614,544,3.41,0,10,44,4307,1260,172,384,1384,84,110,0.985,tampa bay rays,tropicana field,1128127.0,95,93,tbr,tba,tba
3012,2022,al,tex,tex,w,4,162,81.0,68,94,n,n,n,n,707,5478,1308,224,20,198,456,1446.0,128.0,41.0,47.0,38.0,743,673,4.22,1,10,37,4305,1345,169,581,1314,96,143,0.984,texas rangers,globe life field,2011361.0,100,101,tex,tex,tex
3013,2022,al,tor,tor,e,2,162,81.0,92,70,n,y,n,n,775,5555,1464,307,12,200,500,1242.0,67.0,35.0,55.0,33.0,679,620,3.87,0,10,46,4324,1356,180,424,1390,82,120,0.986,toronto blue jays,rogers centre,2653830.0,100,100,tor,tor,tor
3014,2022,nl,was,wsn,e,5,162,81.0,55,107,n,n,n,n,603,5434,1351,252,20,136,442,1221.0,75.0,31.0,60.0,37.0,855,785,5.00,2,4,28,4235,1469,244,558,1220,104,126,0.982,washington nationals,nationals park,2026401.0,94,96,wsn,mon,was

In [13]:
master = People[['playerID', 'birthYear', 'nameFirst', 'nameLast', 'weight', 'height', 'debut']].copy()
# drop months and days from 'debut'
master['debut'] = master['debut'].str.slice(stop=4)
# configure names column as formatted in the primary data
master['name'] = master['nameLast'] + ', ' + master['nameFirst']
master = master.drop(['nameFirst', 'nameLast'], axis=1)
# drop the .0 ending from numerical values
master = master.dropna()
master['birthYear'] = master['birthYear'].astype(int)
master['weight'] = master['weight'].astype(int)
master['height'] = master['height'].astype(int)
master

        playerID  birthYear  weight  height debut              name
0      aardsda01       1981     215      75  2004    aardsma, david
1      aaronha01       1934     180      72  1954       aaron, hank
2      aaronto01       1939     190      75  1962     aaron, tommie
3       aasedo01       1954     190      75  1977         aase, don
4       abadan01       1972     184      73  2001        abad, andy
...          ...        ...     ...     ...   ...               ...
20816   zupofr01       1939     182      71  1957       zupo, frank
20817  zuvelpa01       1958     173      72  1982     zuvella, paul
20818  zuverge01       1924     195      76  1951  zuverink, george
20819  zwilldu01       1888     160      66  1910   zwilling, dutch
20820   zychto01       1990     190      75  2015        zych, tony

[19837 rows x 6 columns]

In [14]:
batters_stats = pd.merge(master, Batting, on='playerID')
batters_stats

,playerID,birthYear,weight,height,debut,name,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,1981,215,75,2004,"aardsma, david",2004,1,sfn,nl,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,1981,215,75,2004,"aardsma, david",2006,1,chn,nl,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,1981,215,75,2004,"aardsma, david",2007,1,cha,al,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,1981,215,75,2004,"aardsma, david",2008,1,bos,al,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,1981,215,75,2004,"aardsma, david",2009,1,sea,al,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110881,zwilldu01,1888,160,66,1910,"zwilling, dutch",1915,1,chf,fl,150,548,65,157,32,7,13,94.0,24.0,NaN,67,65.0,NaN,2.0,18.0,NaN,NaN
110882,zwilldu01,1888,160,66,1910,"zwilling, dutch",1916,1,chn,nl,35,53,4,6,1,0,1,8.0,0.0,NaN,4,6.0,NaN,0.0,2.0,NaN,NaN
110883,zychto01,1990,190,75,2015,"zych, tony",2015,1,sea,al,13,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
110884,zychto01,1990,190,75,2015,"zych, tony",2016,1,sea,al,12,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
110885,zychto01,1990,190,75,2015,"zych, tony",2017,1,sea,al,45,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
batters_stats = pd.merge(batters_stats, Teams[['teamID', 'yearID', 'G']], on=['teamID', 'yearID'], how='left')
batters_stats

,playerID,birthYear,weight,height,debut,name,yearID,stint,teamID,lgID,G_x,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_y
0,aardsda01,1981,215,75,2004,"aardsma, david",2004,1,sfn,nl,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,162
1,aardsda01,1981,215,75,2004,"aardsma, david",2006,1,chn,nl,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,162
2,aardsda01,1981,215,75,2004,"aardsma, david",2007,1,cha,al,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,162
3,aardsda01,1981,215,75,2004,"aardsma, david",2008,1,bos,al,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,162
4,aardsda01,1981,215,75,2004,"aardsma, david",2009,1,sea,al,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110881,zwilldu01,1888,160,66,1910,"zwilling, dutch",1915,1,chf,fl,150,548,65,157,32,7,13,94.0,24.0,NaN,67,65.0,NaN,2.0,18.0,NaN,NaN,155
110882,zwilldu01,1888,160,66,1910,"zwilling, dutch",1916,1,chn,nl,35,53,4,6,1,0,1,8.0,0.0,NaN,4,6.0,NaN,0.0,2.0,NaN,NaN,156
110883,zychto01,1990,190,75,2015,"zych, tony",2015,1,sea,al,13,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,162
110884,zychto01,1990,190,75,2015,"zych, tony",2016,1,sea,al,12,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,162
110885,zychto01,1990,190,75,2015,"zych, tony",2017,1,sea,al,45,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,162

In [16]:
columns_to_drop = ['playerID', 'stint', 'teamID', 'lgID', 'SB', 'CS', 'BB', 'SH', 'SF']
batters_stats = batters_stats.drop(columns=columns_to_drop)
batters_stats = batters_stats.rename(columns={'IBB': 'Intentional_Walks', 'HBP': 'Hit_by_Pitch'})
batters_stats

,birthYear,weight,height,debut,name,yearID,G_x,AB,R,H,2B,3B,HR,RBI,SO,Intentional_Walks,Hit_by_Pitch,GIDP,G_y
0,1981,215,75,2004,"aardsma, david",2004,11,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
1,1981,215,75,2004,"aardsma, david",2006,45,2,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
2,1981,215,75,2004,"aardsma, david",2007,25,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
3,1981,215,75,2004,"aardsma, david",2008,47,1,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0,162
4,1981,215,75,2004,"aardsma, david",2009,73,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110881,1888,160,66,1910,"zwilling, dutch",1915,150,548,65,157,32,7,13,94.0,65.0,NaN,2.0,NaN,155
110882,1888,160,66,1910,"zwilling, dutch",1916,35,53,4,6,1,0,1,8.0,6.0,NaN,0.0,NaN,156
110883,1990,190,75,2015,"zych, tony",2015,13,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
110884,1990,190,75,2015,"zych, tony",2016,12,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
110885,1990,190,75,2015,"zych, tony",2017,45,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162

In [17]:
batters_stats = batters_stats.rename(columns={'name': 'player_name', 'yearID': 'game_year', 'IBB': 'Intentional_Walks', 'HBP': 'Hit_by_Pitch', 'AB': 'At_Bats', 'R': 'Runs', 'H': 'Hits', '2B': 'Doubles', '3B': 'Triples', 'SO': 'Strikeouts'})
batters_stats

,birthYear,weight,height,debut,player_name,game_year,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y
0,1981,215,75,2004,"aardsma, david",2004,11,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
1,1981,215,75,2004,"aardsma, david",2006,45,2,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
2,1981,215,75,2004,"aardsma, david",2007,25,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
3,1981,215,75,2004,"aardsma, david",2008,47,1,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0,162
4,1981,215,75,2004,"aardsma, david",2009,73,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110881,1888,160,66,1910,"zwilling, dutch",1915,150,548,65,157,32,7,13,94.0,65.0,NaN,2.0,NaN,155
110882,1888,160,66,1910,"zwilling, dutch",1916,35,53,4,6,1,0,1,8.0,6.0,NaN,0.0,NaN,156
110883,1990,190,75,2015,"zych, tony",2015,13,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
110884,1990,190,75,2015,"zych, tony",2016,12,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162
110885,1990,190,75,2015,"zych, tony",2017,45,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,162

In [18]:
df_batters = pd.merge(df, batters_stats, left_on=['player_name', 'game_year'], right_on=['player_name', 'game_year'], how='inner')
df_batters

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,birthYear,weight,height,debut,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y
0,cu,2008,78.4,"lillibridge, brent",452121,force_out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,1983,185,71,2008,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162
1,ff,2008,89.9,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,1,2,2008-09-28,1983,185,71,2008,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162
2,ff,2008,90.3,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,0,2,2008-09-28,1983,185,71,2008,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162
3,ff,2008,89.6,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,1,0,2,2008-09-28,1983,185,71,2008,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162
4,cu,2008,78.0,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,0,0,2,2008-09-28,1983,185,71,2008,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894601,sl,2022,85.3,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,2,2,2022-04-10,1997,182,72,2022,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162
9894602,sl,2022,85.5,"fox, lucius",665650,NaN,swinging_strike,l,s,0.0,NaN,0,1,2,2022-04-10,1997,182,72,2022,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162
9894603,cu,2022,79.9,"fox, lucius",665650,NaN,called_strike,l,s,0.0,NaN,0,0,2,2022-04-10,1997,182,72,2022,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162
9894604,ch,2022,84.5,"fox, lucius",665650,sac_bunt,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,1997,182,72,2022,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162
9894605,sl,2022,82.8,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,0,0,2022-04-10,1997,182,72,2022,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162

In [19]:
df_batters['Age'] = df_batters['game_year'] - df_batters['birthYear']
df_batters['debut'] = df_batters['debut'].astype(int)
df_batters['Year_Vet'] = df_batters['game_year'] - df_batters['debut']
df_batters = df_batters.drop(['debut', 'birthYear'], axis=1)
df_batters

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,weight,height,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y,Age,Year_Vet
0,cu,2008,78.4,"lillibridge, brent",452121,force_out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
1,ff,2008,89.9,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,1,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
2,ff,2008,90.3,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
3,ff,2008,89.6,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,1,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
4,cu,2008,78.0,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,0,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894601,sl,2022,85.3,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,2,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894602,sl,2022,85.5,"fox, lucius",665650,NaN,swinging_strike,l,s,0.0,NaN,0,1,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894603,cu,2022,79.9,"fox, lucius",665650,NaN,called_strike,l,s,0.0,NaN,0,0,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894604,ch,2022,84.5,"fox, lucius",665650,sac_bunt,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894605,sl,2022,82.8,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,0,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0

In [20]:
df_batters

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,weight,height,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y,Age,Year_Vet
0,cu,2008,78.4,"lillibridge, brent",452121,force_out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
1,ff,2008,89.9,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,1,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
2,ff,2008,90.3,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
3,ff,2008,89.6,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,1,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
4,cu,2008,78.0,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,0,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894601,sl,2022,85.3,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,2,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894602,sl,2022,85.5,"fox, lucius",665650,NaN,swinging_strike,l,s,0.0,NaN,0,1,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894603,cu,2022,79.9,"fox, lucius",665650,NaN,called_strike,l,s,0.0,NaN,0,0,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894604,ch,2022,84.5,"fox, lucius",665650,sac_bunt,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0
9894605,sl,2022,82.8,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,0,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0

In [21]:
del People
del Batting
del Pitching
del Fielding
del Teams
del master

## Calculating some batting averages

In [22]:
df_batters['Avg_Hits_PerGame'] = df_batters['Hits'] / df_batters['G_x']
df_batters['Avg_HR_PerGame'] = df_batters['HR'] / df_batters['G_x']
df_batters['Avg_Strikeouts_PerGame'] = df_batters['Strikeouts'] / df_batters['G_x']
df_batters['Avg_Hit_by_Pitch_PerGame'] = df_batters['Hit_by_Pitch'] / df_batters['G_x']
df_batters['Avg_Runs_PerGame'] = df_batters['Runs'] / df_batters['G_x']
df_batters['Avg_RBI_PerGame'] = df_batters['RBI'] / df_batters['G_x']
df_batters['Avg_Grounded_into_DP_PerGame'] = df_batters['GIDP'] / df_batters['G_x']
df_batters['Avg_Doubles_PerGame'] = df_batters['Doubles'] / df_batters['G_x']
df_batters['Avg_Triples_PerGame'] = df_batters['Triples'] / df_batters['G_x']
#df_batters.drop(columns=['player_name'], inplace=True)
df_batters

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,weight,height,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y,Age,Year_Vet,Avg_Hits_PerGame,Avg_HR_PerGame,Avg_Strikeouts_PerGame,Avg_Hit_by_Pitch_PerGame,Avg_Runs_PerGame,Avg_RBI_PerGame,Avg_Grounded_into_DP_PerGame,Avg_Doubles_PerGame,Avg_Triples_PerGame
0,cu,2008,78.4,"lillibridge, brent",452121,force_out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483
1,ff,2008,89.9,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,1,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483
2,ff,2008,90.3,"lillibridge, brent",452121,NaN,foul,r,s,0.0,NaN,2,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483
3,ff,2008,89.6,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,1,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483
4,cu,2008,78.0,"lillibridge, brent",452121,NaN,ball,r,b,0.0,NaN,0,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894601,sl,2022,85.3,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,2,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000
9894602,sl,2022,85.5,"fox, lucius",665650,NaN,swinging_strike,l,s,0.0,NaN,0,1,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000
9894603,cu,2022,79.9,"fox, lucius",665650,NaN,called_strike,l,s,0.0,NaN,0,0,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000
9894604,ch,2022,84.5,"fox, lucius",665650,sac_bunt,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000
9894605,sl,2022,82.8,"fox, lucius",665650,NaN,foul,l,s,0.0,NaN,0,0,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000

In [23]:
df_batters['Singles'] = df_batters['Hits'] - (df_batters['Doubles'] + df_batters['Triples'] + df_batters['HR'])
df_batters['Avg_Singles_PerGame'] = df_batters['Singles'] / df_batters['G_x']

# batting average
df_batters['BA'] = df_batters['Hits'] / df_batters['At_Bats']
# Slug %
df_batters['SLG'] = (df_batters['Singles'] + 2*df_batters['Doubles'] + 3*df_batters['Triples'] + 4*df_batters['HR']) / df_batters['At_Bats']
# ISO is similar to slugging score: 'SLG', but it represents a batters raw power by only calculating big hits
df_batters['ISO'] = (df_batters['Doubles'] + 2*df_batters['Triples'] + 3*df_batters['HR']) / df_batters['At_Bats']

# a lot of 'bb_type' values are null, because no hit was recorded on the pitch
df_batters['bb_type'].fillna('no_hit', inplace=True)
df_batters

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,weight,height,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y,Age,Year_Vet,Avg_Hits_PerGame,Avg_HR_PerGame,Avg_Strikeouts_PerGame,Avg_Hit_by_Pitch_PerGame,Avg_Runs_PerGame,Avg_RBI_PerGame,Avg_Grounded_into_DP_PerGame,Avg_Doubles_PerGame,Avg_Triples_PerGame,Singles,Avg_Singles_PerGame,BA,SLG,ISO
0,cu,2008,78.4,"lillibridge, brent",452121,force_out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
1,ff,2008,89.9,"lillibridge, brent",452121,NaN,foul,r,s,0.0,no_hit,2,1,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
2,ff,2008,90.3,"lillibridge, brent",452121,NaN,foul,r,s,0.0,no_hit,2,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
3,ff,2008,89.6,"lillibridge, brent",452121,NaN,ball,r,b,0.0,no_hit,1,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
4,cu,2008,78.0,"lillibridge, brent",452121,NaN,ball,r,b,0.0,no_hit,0,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894601,sl,2022,85.3,"fox, lucius",665650,NaN,foul,l,s,0.0,no_hit,0,2,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894602,sl,2022,85.5,"fox, lucius",665650,NaN,swinging_strike,l,s,0.0,no_hit,0,1,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894603,cu,2022,79.9,"fox, lucius",665650,NaN,called_strike,l,s,0.0,no_hit,0,0,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894604,ch,2022,84.5,"fox, lucius",665650,sac_bunt,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894605,sl,2022,82.8,"fox, lucius",665650,NaN,foul,l,s,0.0,no_hit,0,0,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000

In [24]:
unique_values = df_batters['bb_type'].unique()
unique_values

array(['ground_ball', 'no_hit', 'fly_ball', 'popup', 'line_drive'],
      dtype=object)

In [25]:
df_batters['events'].fillna('other', inplace=True)

In [26]:
mapping = {
    'force_out': 'out',
    'strikeout': 'out',
    'field_out': 'out',
    'strikeout_double_play': 'out',
    'fielders_choice_out': 'out',
    'grounded_into_double_play': 'out',
    'sac_fly': 'out',
    'single': 'hit',
    'triple': 'hit',
    'double': 'hit',
    'sac_bunt': 'hit',
    'field_error': 'other',
    'walk': 'other',
    'hit_by_pitch': 'other',
    'triple_play': 'other',
    'double_play': 'other',
    'stolen_base_3b': 'other',
    'wild_pitch': 'other',
    'stolen_base_2b': 'other',
    'fielders_choice': 'other',
    'intent_walk': 'other',
    'caught_stealing_2b': 'other',
    'other_out': 'other',
    'pickoff_2b': 'other',
    'caught_stealing_3b': 'other',
    'sac_fly_double_play': 'other',
    'sac_bunt_double_play': 'other',
    'pickoff_1b': 'other',
    'caught_stealing_home': 'other',
    'pickoff_3b': 'other',
    'pickoff_caught_stealing_2b': 'other',
    'runner_double_play': 'other',
    'pickoff_caught_stealing_3b': 'other',
    'catcher_interf': 'other',
    'pickoff_caught_stealing_home': 'other',
    'ejection': 'other',
    'passed_ball': 'other',
    'other_advance': 'other',
    'pickoff_error_2b': 'other',
    'game_advisory': 'other'}

df_batters['events'].replace(mapping, inplace=True)

In [27]:
df_batters

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,weight,height,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y,Age,Year_Vet,Avg_Hits_PerGame,Avg_HR_PerGame,Avg_Strikeouts_PerGame,Avg_Hit_by_Pitch_PerGame,Avg_Runs_PerGame,Avg_RBI_PerGame,Avg_Grounded_into_DP_PerGame,Avg_Doubles_PerGame,Avg_Triples_PerGame,Singles,Avg_Singles_PerGame,BA,SLG,ISO
0,cu,2008,78.4,"lillibridge, brent",452121,out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
1,ff,2008,89.9,"lillibridge, brent",452121,other,foul,r,s,0.0,no_hit,2,1,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
2,ff,2008,90.3,"lillibridge, brent",452121,other,foul,r,s,0.0,no_hit,2,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
3,ff,2008,89.6,"lillibridge, brent",452121,other,ball,r,b,0.0,no_hit,1,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
4,cu,2008,78.0,"lillibridge, brent",452121,other,ball,r,b,0.0,no_hit,0,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894601,sl,2022,85.3,"fox, lucius",665650,other,foul,l,s,0.0,no_hit,0,2,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894602,sl,2022,85.5,"fox, lucius",665650,other,swinging_strike,l,s,0.0,no_hit,0,1,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894603,cu,2022,79.9,"fox, lucius",665650,other,called_strike,l,s,0.0,no_hit,0,0,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894604,ch,2022,84.5,"fox, lucius",665650,hit,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894605,sl,2022,82.8,"fox, lucius",665650,other,foul,l,s,0.0,no_hit,0,0,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000

In [28]:
unique_values = df_batters['events'].unique()
unique_values

array(['out', 'other', 'hit', 'home_run'], dtype=object)

In [29]:
nulls = df_batters.isnull().sum().sort_values(ascending=True)
nulls

pitch_type                          0
Strikeouts                          0
Intentional_Walks                   0
Hit_by_Pitch                        0
GIDP                                0
G_y                                 0
Age                                 0
Year_Vet                            0
Avg_Hits_PerGame                    0
RBI                                 0
Avg_HR_PerGame                      0
Avg_Hit_by_Pitch_PerGame            0
Avg_Runs_PerGame                    0
Avg_RBI_PerGame                     0
Avg_Grounded_into_DP_PerGame        0
Avg_Doubles_PerGame                 0
Avg_Triples_PerGame                 0
Singles                             0
Avg_Singles_PerGame                 0
Avg_Strikeouts_PerGame              0
HR                                  0
Triples                             0
bb_type                             0
player_name                         0
batter                              0
events                              0
description                         0
stand                               0
type                                0
hit_location                        0
Doubles                             0
release_speed                       0
balls                               0
outs_when_up                        0
game_date                           0
weight                              0
height                              0
G_x                                 0
At_Bats                             0
Runs                                0
Hits                                0
strikes                             0
game_year                           0
SLG                             20692
BA                              20692
ISO                             20692
dtype: int64

In [30]:
df_batters.dropna(inplace=True)
# for some reason, 2 rows have strikes = 3, which isn't possible
df_batters = df_batters.drop(df_batters[df_batters['strikes'] == 3].index)
df_batters

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,weight,height,G_x,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,G_y,Age,Year_Vet,Avg_Hits_PerGame,Avg_HR_PerGame,Avg_Strikeouts_PerGame,Avg_Hit_by_Pitch_PerGame,Avg_Runs_PerGame,Avg_RBI_PerGame,Avg_Grounded_into_DP_PerGame,Avg_Doubles_PerGame,Avg_Triples_PerGame,Singles,Avg_Singles_PerGame,BA,SLG,ISO
0,cu,2008,78.4,"lillibridge, brent",452121,out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
1,ff,2008,89.9,"lillibridge, brent",452121,other,foul,r,s,0.0,no_hit,2,1,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
2,ff,2008,90.3,"lillibridge, brent",452121,other,foul,r,s,0.0,no_hit,2,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
3,ff,2008,89.6,"lillibridge, brent",452121,other,ball,r,b,0.0,no_hit,1,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
4,cu,2008,78.0,"lillibridge, brent",452121,other,ball,r,b,0.0,no_hit,0,0,2,2008-09-28,185,71,29,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,162,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894601,sl,2022,85.3,"fox, lucius",665650,other,foul,l,s,0.0,no_hit,0,2,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894602,sl,2022,85.5,"fox, lucius",665650,other,swinging_strike,l,s,0.0,no_hit,0,1,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894603,cu,2022,79.9,"fox, lucius",665650,other,called_strike,l,s,0.0,no_hit,0,0,2,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894604,ch,2022,84.5,"fox, lucius",665650,hit,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000
9894605,sl,2022,82.8,"fox, lucius",665650,other,foul,l,s,0.0,no_hit,0,0,0,2022-04-10,182,72,10,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,162,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000

In [31]:
df = df_batters

## Dropping some extreme outlier values

In [32]:
def plot_bar(df, column):
    plt.figure(figsize=(12,8))
    sns.countplot(data=df, x=column)
    plt.title(f'Distribution of {column}')
    plt.xlabel(column)
    plt.ylabel('Count')
    plt.xticks(rotation=90)
    plt.show()

In [33]:
initial_rows = df.shape[0]
before_rows = df.shape[0]

df = df[df['release_speed'] >= 69]
after_rows = df.shape[0]
rows_dropped = before_rows - after_rows
percentage_dropped = (rows_dropped / initial_rows) * 100
print(f"Number of rows dropped: {rows_dropped}")
print(f"Percentage of rows dropped: {percentage_dropped:.2f}%")
print(f"remaining rows: {after_rows}")
print()
before_rows = df.shape[0]
df = df[df['release_speed'] <= 100]
after_rows = df.shape[0]
rows_dropped = before_rows - after_rows
percentage_dropped = (rows_dropped / initial_rows) * 100
print(f"Number of rows dropped: {rows_dropped}")
print(f"Percentage of rows dropped: {percentage_dropped:.2f}%")
print(f"remaining rows: {after_rows}")

Number of rows dropped: 42102
Percentage of rows dropped: 0.43%
remaining rows: 9831810

Number of rows dropped: 15204
Percentage of rows dropped: 0.15%
remaining rows: 9816606

In [34]:
#df.to_csv('df_batters_iso.csv', index=False)
df.drop(['G_y', 'G_x'], axis=1, inplace=True)
def homerun(row):
    if row['events'] == 'home_run':
        return 1
    else:
        return 0

df['home_run_hit'] = df.apply(homerun, axis=1)

df['home_run_in_game'] = df.groupby(['game_date', 'batter'])['home_run_hit'].transform('max')
df.to_csv('df_batters_iso.csv', index=False)

In [35]:
# adding extra contextual columns for layer 2 of my multi-input RNN, depicting more details on batter vs pitcher matchups and trends
merge_columns = ['pitcher', 'p_throws', 'home_team', 'away_team', 'release_pos_x', 
                 'release_pos_y', 'release_pos_z', 'home_score', 'away_score',
                 'pitch_type', 'release_speed', 'player_name', 'batter', 'description', 
                 'stand', 'game_date', 'balls', 'strikes', 'game_year']
batters_subset = batters_all_years[merge_columns]

In [36]:
merged_df_clean = pd.merge(df, batters_subset, 
                           on=['pitch_type', 'release_speed', 'player_name', 'batter', 
                               'description', 'stand', 'game_date', 'balls', 'strikes', 'game_year'], 
                           how='left')
merged_df_clean

,pitch_type,game_year,release_speed,player_name,batter,events,description,stand,type,hit_location,bb_type,balls,strikes,outs_when_up,game_date,weight,height,At_Bats,Runs,Hits,Doubles,Triples,HR,RBI,Strikeouts,Intentional_Walks,Hit_by_Pitch,GIDP,Age,Year_Vet,Avg_Hits_PerGame,Avg_HR_PerGame,Avg_Strikeouts_PerGame,Avg_Hit_by_Pitch_PerGame,Avg_Runs_PerGame,Avg_RBI_PerGame,Avg_Grounded_into_DP_PerGame,Avg_Doubles_PerGame,Avg_Triples_PerGame,Singles,Avg_Singles_PerGame,BA,SLG,ISO,home_run_hit,home_run_in_game,pitcher,p_throws,home_team,away_team,release_pos_x,release_pos_y,release_pos_z,home_score,away_score
0,cu,2008,78.4,"lillibridge, brent",452121,out,hit_into_play,r,x,5.0,ground_ball,2,2,2,2008-09-28,185,71,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375,0,0,434643,l,hou,atl,1.63,54.50,6.04,3,1
1,ff,2008,89.9,"lillibridge, brent",452121,other,foul,r,s,0.0,no_hit,2,1,2,2008-09-28,185,71,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375,0,0,434643,l,hou,atl,1.40,54.50,5.69,3,1
2,ff,2008,90.3,"lillibridge, brent",452121,other,foul,r,s,0.0,no_hit,2,0,2,2008-09-28,185,71,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375,0,0,434643,l,hou,atl,1.31,54.50,5.83,3,1
3,ff,2008,89.6,"lillibridge, brent",452121,other,ball,r,b,0.0,no_hit,1,0,2,2008-09-28,185,71,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375,0,0,434643,l,hou,atl,1.53,54.50,5.79,3,1
4,cu,2008,78.0,"lillibridge, brent",452121,other,ball,r,b,0.0,no_hit,0,0,2,2008-09-28,185,71,80,9,16,6,1,1,8.0,23.0,0.0,1.0,0.0,25,0,0.551724,0.034483,0.793103,0.034483,0.310345,0.275862,0.0,0.206897,0.034483,8,0.275862,0.20,0.3375,0.1375,0,0,434643,l,hou,atl,1.56,54.50,5.99,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9895545,sl,2022,85.3,"fox, lucius",665650,other,foul,l,s,0.0,no_hit,0,2,2,2022-04-10,182,72,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000,0,0,471911,r,wsh,nym,-1.18,54.08,5.73,1,0
9895546,sl,2022,85.5,"fox, lucius",665650,other,swinging_strike,l,s,0.0,no_hit,0,1,2,2022-04-10,182,72,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000,0,0,471911,r,wsh,nym,-1.23,54.12,5.70,1,0
9895547,cu,2022,79.9,"fox, lucius",665650,other,called_strike,l,s,0.0,no_hit,0,0,2,2022-04-10,182,72,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000,0,0,471911,r,wsh,nym,-1.04,54.19,5.93,1,0
9895548,ch,2022,84.5,"fox, lucius",665650,hit,hit_into_play,l,x,3.0,ground_ball,0,1,0,2022-04-10,182,72,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000,0,0,592866,r,wsh,nym,-2.36,53.34,5.07,1,2
9895549,sl,2022,82.8,"fox, lucius",665650,other,foul,l,s,0.0,no_hit,0,0,0,2022-04-10,182,72,25,2,2,0,0,0,2.0,9.0,0.0,0.0,1.0,25,0,0.200000,0.000000,0.900000,0.000000,0.200000,0.200000,0.1,0.000000,0.000000,2,0.200000,0.08,0.0800,0.0000,0,0,592866,r,wsh,nym,-2.34,53.76,5.22,1,2

In [37]:
unique_values = merged_df_clean['bb_type'].unique()
unique_values

array(['ground_ball', 'no_hit', 'fly_ball', 'popup', 'line_drive'],
      dtype=object)

In [38]:
#df.to_csv('df_batters_vs_pitchers.csv', index=False)

In [39]:
#merge_columns = ['pitch_type', 'release_speed', 'player_name', 'batter', 'description', 'stand', 'type', 'hit_location', 'bb_type', 'balls', 'strikes', 'outs_when_up', 'game_year', 'home_score', 'away_score', 'release_pos_x', 'release_pos_y', 'release_pos_z','home_team', 'away_team', 'game_date']
#batters_subset = batters_all_years[merge_columns]

In [40]:
#del batters_all_years

In [41]:
#merged_df_clean = pd.merge(df_merged, batters_subset, on=['pitch_type', 'release_speed', 'player_name', 'batter', 'description', 'stand', 'type', 'hit_location', 'bb_type', 'balls', 'strikes', 'outs_when_up', 'game_year', 'home_score', 'away_score', 'release_pos_x', 'release_pos_y', 'release_pos_z', 'home_team', 'away_team'], how='left')

In [42]:
columns_to_drop = ['release_pos_z', 'release_pos_y', 'release_pos_x']
merged_df_clean.dropna(subset=columns_to_drop, inplace=True)
nulls = merged_df_clean.isnull().sum().sort_values(ascending=False)
nulls

away_score                      0
outs_when_up                    0
Strikeouts                      0
RBI                             0
HR                              0
Triples                         0
Doubles                         0
Hits                            0
Runs                            0
At_Bats                         0
height                          0
weight                          0
game_date                       0
strikes                         0
Hit_by_Pitch                    0
balls                           0
bb_type                         0
hit_location                    0
type                            0
stand                           0
description                     0
events                          0
batter                          0
player_name                     0
release_speed                   0
game_year                       0
Intentional_Walks               0
GIDP                            0
home_score                      0
BA                              0
release_pos_z                   0
release_pos_y                   0
release_pos_x                   0
away_team                       0
home_team                       0
p_throws                        0
pitcher                         0
home_run_in_game                0
home_run_hit                    0
ISO                             0
SLG                             0
Avg_Singles_PerGame             0
Age                             0
Singles                         0
Avg_Triples_PerGame             0
Avg_Doubles_PerGame             0
Avg_Grounded_into_DP_PerGame    0
Avg_RBI_PerGame                 0
Avg_Runs_PerGame                0
Avg_Hit_by_Pitch_PerGame        0
Avg_Strikeouts_PerGame          0
Avg_HR_PerGame                  0
Avg_Hits_PerGame                0
Year_Vet                        0
pitch_type                      0
dtype: int64

In [44]:
merged_df_clean.to_csv('df_batters_vs_pitchers.csv', index=False)